[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
plumbum = "*"
pyperclip = "*"
prompt-toolkit = "*"
google-generativeai = "*"
rich = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
